footer {
  text-align: center;
  padding: 3px;
  display: block;
  background-color: #e30503;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: black;
}
.active {
  background-color: darkred;
  color: white;
}
body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.carousel {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#topper {
  text-align: center;
  background-color: #e30503;
  color: white;
}

hr {
  border-top: 1px solid black;
}

.jumbotron {
  margin: 0%;
  padding: 0%;
}

#image {
  max-width: 545px;
  min-width: 200px;
}

.row {
  justify-content: center;
  border: solid 1px blue;
}
.col-md-5 {
  border: solid 1px blue;
  justify-content: center;
  text-align: center;
}
.col-md-7 {
  border: solid 1px blue;
  justify-content: center;
  text-align: center;
}
.col-md-6 {
  border: solid 1px blue;
  justify-content: center;
  text-align: center;
}
.col-sm-4 {
  border: solid 1px blue;
  justify-content: center;
  text-align: center;
}
.glow {
  font-size: 100px;
  color: #131313;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px darkgrey, 0 0 20px #e30503, 0 0 30px #e30503,
      0 0 40px #e30503, 0 0 50px #e30503, 0 0 60px #e30503, 0 0 70px white;
  }
  to {
    text-shadow: 0 0 20px #e30503, 0 0 30px darkred, 0 0 40px #e30503,
      0 0 50px #e30503, 0 0 60px #e30503, 0 0 70px #e30503, 0 0 80px white;
  }
}
